/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import '/assets/styles/normalize';

body {
  font-family: 'Montserrat', sans-serif;
  color: #001E50;
  font-size: 16px;
}
